<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materializecss/css/materialize.min.css') }}"
        media="screen,projection" />

    <!--Import my custom css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='custom/css/main.css') }}" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper pink">
            <a href="{{url_for('index.index')}}" class="brand-logo">&nbsp&nbsp 活动室预约</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index.index') }}">Home</a></li>
                <li><a href="#notifications" class="modal-trigger">Tips</a></li>
                <li><a href="http://touko.moe">About</a></li>
                <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                {% if is_login %}
                <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><a href="{{ url_for('index.index') }}">Home</a></li>
                <li><a href="#notifications" class="modal-trigger">Tips</a></li>
                <li><a href="http://touko.moe">About</a></li>
                <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                {% if is_login %}
                <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block contents %} {% endblock contents %}



    <section id="footer" class="scrollspy">
        <footer class="page-footer pink">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">弘毅学堂活动室预约系统</h5>
                        <p class="grey-text text-lighten-4">使用请遵守各项规则。<br/>合理安排时间，保持活动室整洁。</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a href="#notifications" class="grey-text text-lighten-3 modal-trigger">注意事项</a></li>
                            <li><a href="http://touko.moe" class="grey-text text-lighten-3" href="#!">关于</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Touko @Sora
                    <a class="grey-text text-lighten-4 right" href="http://sora.studio/">Sora Studio</a>
                </div>
            </div>
        </footer>
    </section>

    <!-- Modal Structure -->
    <div id="notifications" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>弘毅活动室预约注意事项</h4>
            <p>正文部分</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='materializecss/js/materialize.min.js') }}"></script>
    <!-- Custom js files -->
    <script type="text/javascript" src="{{ url_for('static', filename='custom/js/main.js') }}"></script>
    <!-- string-format.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='custom/js/string-format.js') }}"></script>

    {% block js_files %}{% endblock js_files %}
</body>

</html>