{% extends "base.html" %} {% block contents %}

<section id="get_all">
    <div class="container">
        <div class="row">
            <h4>所有预约查询</h4>
        </div>
        <div class="row responsive-table">
            <table>
                <thead>
                    <tr>
                        <th>名字</th>
                        <th>时间</th>
                        <th>事件</th>
                        <th>联系方式</th>
                        <th>状态</th>
                    </tr>
                </thead>

                <tbody>
                    {% for data in all_data %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.reservdate}}  {{data.starttime}} - {{data.endtime}}</td>
                            <td>{{data.forwhat}}</td>
                            <td>{{data.telephone}}</td>
                            <td>
                                {% if data.status == '0' %}
                                    未批准
                                {% elif data.status == '1' %}
                                    已批准
                                {% else %}
                                    已拒绝
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock contents %}